{% extends 'base.html'%}

{% block content %}

<div class="container-fluid">
   

    <div id="aboutOuter">
        <h1 class="text-center" style="font-family: 'Anton', sans-serif;">ABOUT US</h1>
        <img src="../static/images/grad2.jpg" style="width: 100%; height: 100vh;">


        <div class="jumbotron text-center">
            <div id="about">

                <p>
                    <P1>M-TIHANI provides students with the best online revision materials<br> and access to the most
                        sought-after revision paradigm.<br>Giving your students a better mastery of content and
                        unveiling
                        their potential to realize their dreams!


                        <h2>Tests</h2>
                        Other than QA we also allow the students to take tests that are checked in real-time and points
                        awarded, making it fun learning.
                </p>
                <p>Ace your way to a brighter future with M-TIHANI</p>

                </p1>
            </div>
        </div>
    </div>
</div>

{% endblock %}